@import 'src/components/CampaignTimeline/styles.scss';
@import 'src/components/CreateCampaignForm/form.scss';

$primary-color: #69D2E7;
$secondary-color: #A7DBD8;
$warning-color: #F38630;

/*#E0E4CC,#FA6900,#69D2E7,#A7DBD8,#E0E4CC*/

//.header{background-color: $primary-color;}
